body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.first-one {
    text-align: center;
}

.top-one {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 40px;
}
.first-one h1 {
    color: white;
    font-size: 50px;
    font-weight: 900 bold;
    text-align: center;
    padding-top: 80px;
}

.first-one p {
    color: white;
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 20px;
    font-weight: 550;
    font-size: 18px;
}

.donate {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 8px;


}

.sceond-one {
    text-align: center;
    margin-top: 100px;
}

.sceond-one p {
    padding-left: 22%;
    padding-right: 22%;
}

.money-amount {
    display: flex;
    width: 25%;
    text-align: center;
    color: gray;
    font-size: 25px;
    font-weight: 800;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}