body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.first-one {
    text-align: center;
}
.top-one {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 40px;
}
.first-one h1 {
    color: white;
    font-size: 50px;
    font-weight: 900 bold;
    text-align: center;
    padding-top: 80px;
}
.first-one p {
    color: white;
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 20px;
    font-weight: 550;
    font-size: 18px;
}
.donate {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 8px;
}
.sceond-one {
    text-align: center;
    margin-top: 50px;
}
.sceond-one p {
    padding-left: 22%;
    padding-right: 22%;
}
.sceond-one h1 {
    font-size: 40px;
    font-weight: 900;
}
.money-amount {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.donat-box{
    background-color: rgb(245, 245, 245);
    color: rgb(112, 112, 112);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    width: 120px;
    padding: 25px 5px;
    margin: 20px;
    border-radius: 5px;
}
.sec-box{
    border: 2px solid rgb(255, 113, 113, 0.8);
    background-color: rgb(254, 200, 200, 0.5);
    color: rgb(255, 70, 70);
}
hr {
    text-decoration: none;
    margin-top: 30px;
    width: 50%;
    margin-bottom: 25px;
}
