body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.first-one {
    text-align: center;
}

.top-one {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 40px;
}

.first-one h1 {
    color: white;
    font-size: 50px;
    font-weight: 900 bold;
    text-align: center;
    padding-top: 80px;
}

.first-one p {
    color: white;
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 20px;
    font-weight: 550;
    font-size: 18px;
}

.donate {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 8px;
}

.sceond-one {
    text-align: center;
    margin-top: 40px;
}

.sceond-one p {
    padding-left: 22%;
    padding-right: 22%;
}

.sceond-one h1 {
    font-size: 40px;
    font-weight: 900;
}

.money-amount {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.donat-box {
    background-color: rgb(245, 245, 245);
    color: rgb(112, 112, 112);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    width: 120px;
    padding: 25px 5px;
    margin: 20px;
    border-radius: 5px;
}

.sec-box {
    border: 2px solid rgb(255, 113, 113, 0.8);
    background-color: rgb(254, 200, 200, 0.5);
    color: rgb(255, 70, 70);
}

hr {
    text-decoration: none;
    margin-top: 30px;
    width: 50%;
    margin-bottom: 25px;
}

.donate-today {
    text-align: center;
    margin-top: 100px;
    padding-left: 22%;
    padding-right: 22%;
}

.donate-today h1 {
    font-size: 35px;
    font-weight: 900;
}

.third-one {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.food {
    background-color: lightblue;
    width: 31%;
    border-radius: 5px;
}

.shelter {
    background-color: lightpink;
    width: 31%;
    border-radius: 5px;
}

.education {
    background-color: rgb(204, 244, 123);
    width: 31%;
    border-radius: 5px;
}

.content-h {
    padding-left: 4%;
    padding-top: 35%;

}

.content-p {
    padding-left: 4%;
    padding-bottom: 3%;
    padding-right: 3%;
}

#img-1 {
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-position: 4% 20%;
}

#img-2 {
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-position: 4% 20%;
}

#img-3 {
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    background-position: 4% 20%;
}


.fourth-one {
    background-image: url(images/donation9.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fourth-color {
    background-color: rgb(245, 245, 245, 0.6);
    height: 480px;
}

.container {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 20px;
    padding-top: 300px;

}

.container h1 {
    font-size: 30px;
    font-weight: 800;
}

.fifth-hp {
    text-align: center;
    margin-top: 100px;
    padding-left: 22%;
    padding-right: 22%;
}

.fifth-hp h1 {
    font-size: 40px;
    font-weight: 800;
}




#first {
    background-color: rgb(254, 254, 197);
    height: 200px;
    width: 800px;
    margin-left: 300px;
    margin-right: 200px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    border-radius: 10px;
}

#second {
    align-items: center;
    margin-top: 20px;
    padding-top: 60px;
}

.link {
    background-color: rgb(218, 218, 218);
    outline: gray;
    border: 1px solid gray;
    border-radius: 5px;
    size: 50px;
    height: 30px;
    font-size: 14.5pt;
    gap: 0px;
}

.inp {
    background-color: tomato;
    height: 34px;
    margin-left: -5px
}


.last-one {
    background-color: black;
    height: 200px;
    width: 100%;
    text-align: center;
}

#last-h {
    font-size: 30px;
    font-weight: 800;
    color: brown;
    padding-top: 45px;
    padding-bottom: 20px;
}

#last-p {
    color: white;
}

















/*
#first {
    width: 800px;
    height: 250px;
    background: rgb(250, 250, 179);
    overflow: hidden;
    border-radius: 10px;
    margin-left: 300px;
    margin-bottom: 100px;
}
#first #second{
       position: relative;
       width: 50%;
       height: 50%;
       margin: auto;
       margin-top: 12%;
       align-items: center;
}
#inp-link{
        padding-left: 50px;
}
.link{
        background-color: rgb(218, 218, 218);
        outline: gray;
        border: 1px solid gray;
        border-radius: 2px;
        size: 50px;
        gap: 0;
        height:30px;
        font-size:14.5pt;

}


*/

/*


.container{
    background-color: rgb(245, 245, 245, 0.7);
    height: 325px;
    width: 500px;
    margin-left: 10px;
    margin-bottom: 400px;
    text-align: center;
    padding-top: 10px;
    padding-left: 4px;
}




*/

/*

#fourth-one {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.help-them {
    background-color: rgb(245, 245, 245, 0.7);
    width: 50%;
    height: 325px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    background-position: left center;
}

.help-them h1 {
    font-size: 30px;
    font-weight: 800;
}

#para-2 {
    margin-bottom: 35px;
}

*/

/*

input{
    margin-top: 50px;
    margin-bottom: 100px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
 }
*/